#stage_0 {
  width: 1480px;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
#stage_1 {
  width: 1480px;
  height: 1000px;
  background-color: white;
}
#canvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
}
#fruits {
  width: 90%;
  height: 100%;
  margin: 10px;
  background-color: #FF9966;
  border: 1px solid #cc3333;
}
#dropbox {
  width: 90%;
  height: 100%;
  margin: 10px;
  background-color: #CCFF66;
  border: 1px solid #00cc00;
  -khtml-user-drag: element;
}
.image {
  width: 20%;
  height: 20%;
  margin: 10px;
}
#rightArea {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 90%;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#leftArea {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 90%;
  left: 0%;
  right: 50;
  top: 0;
  bottom: 0;
  margin: auto;
}
.ui-textinput {
  font-size: 40px;
  text-align: center;
  color: "red";
  font-weight: 400;
  font-family: "UD Digi Kyokasho N-B", "HiraKakuPro-W6";
}

@font-face {
  font-family: "A-SOTCenturyStd-Regular";
  src: url(../font/A-SOTCenturyStd-Regular.woff);
  /* src: url(../font/A-SOTCenturyStd-Regular.otf) format("opentype"); */
}
@font-face {
  font-family: "A-SOTJMathCenturyStd-Bold";
  src: url(../font/A-SOTJMathCenturyStd-Bold.woff);
}
@font-face {
  font-family: "A-SOTMathCenturyStd-Regular";
  src: url(../font/A-SOTMathCenturyStd-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "YuGo-Bold-83pv-RKSJ-H";
  src: url(../font/yugothib-sub.woff) format("opentype");
}

@font-face {
  font-family: "A-SukenOT Century Std";
  src: url(../font/A-SOTCenturyStd-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "rounded-mplus-1p-medium";
  src: url(../font/rounded-mplus-1p-medium.woff);
}

@font-face {
  font-family: "rounded-l-mplus-1p-medium";
  src: url(../font/rounded-mplus-1p-medium.woff);
}

@font-face {
  font-family: "rounded-mplus-1c-medium";
  src: url(../font/rounded-mplus-1c-regular.ttf) format("opentype");
}

@font-face {
  font-family: "rounded-mplus-1c-regular";
  src: url(../font/rounded-mplus-1c-regular.ttf) format("opentype");
}

@font-face {
  font-family: "rounded-l-mplus-1c-medium";
  src: url(../font/rounded-l-mplus-1c-medium.woff);
}
@font-face {
  font-family: "A-SOTGirishaStd-Italic";
  src: url(../font/A-SOTGirishaStd-Italic.woff);
}
@font-face {
  font-family: "A-SOTJMathCenturyStd-Regular";
  src: url(../font/A-SOTJMathCenturyStd-Regular.woff);
}
@font-face {
  font-family: "fontello";
  src: url(../font/fontello.woff);
}

@font-face {
  font-family: "HiraKakuPro-W3-83pv-RKSJ-H";
  src: url(../font/Hiragino-Kaku-Gothic-Pro.woff);
}

@font-face {
  font-family: "MOGSuujiSI-K40";
  src: url(../font/MOGSuujiSI-K40.otf) format("opentype");
}
/* #button_reset{
  position: relative;

}

#button_open{
  position: absolute;
  bottom: 19vmin;
}

#button_assemble{
  position: absolute;
  bottom:8vmin;
} */

/* position: p
x: 10.309371483991665
y: -2.805641559869284
z: 1011.1309733338346

x: 0.5897424643892686
y: -0.7542669978533417
z: 0.2885916174204232 */
.btn {
  position: absolute;
  display: none;
  height: auto;
  top: 707px;
  left: 1091px;

  border: none;
  z-index: 5;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-touch-callout:none;  
  -webkit-user-select:none;  
}
g[id*="-disabled"] {
  cursor: default;
}
use[id*="-disabled"] {
  cursor: default;
}

#stage_0 {
  width: 1478px;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

#stage_1 {
  width: 1478px;
  height: 1000px;
  overflow: hidden;
  /* border: 1px solid rgba(0, 0, 0, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22); */
}
.contbase {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
}

.stagebase {
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  left: 0;
  right: 0;
}
#Canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#Mycanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2144480000;
  pointer-events: none;
}

img {
  width: 90%;
  height: auto;
  border: 5px #ffffff solid;
  line-height: 1em;
  margin: 0% 5%;
  user-select: none;
  pointer-events: none;
}
#drag-popup {
  fill: white;
    opacity: 0;
    position: absolute;
}
#popup-content {
  width: 350px !important;
  height: 150px;
}
#object {
  transform: translate(210px, 345px);
}

.btn-pointer,
.cursor-pointer {
    cursor: pointer;
}

.fill_text {
  position: absolute;
  top: 0;
  width: 950px;
  height: 100px;
  background: #fff;
}

#animation_container, #canvas, #dom_overlay_container {
  width: 1480px !important;
  height: 1000px !important;
  margin: auto !important;
  /* top: 30px; */
}
#canvas {
  position: relative !important;
}
#button_pop_up {
  height: 70px;
}
@media screen and (max-width: 920px) {
  #stage_1 {
    transform: scale(0.676351) !important;

  }
  
}
@media screen and (max-width: 820px) {
  #stage_1 {
    transform: scale(0.606351) !important;

  }
  
}
@media screen and (max-width: 768px) {
#stage_1 {
    transform: scale(0.566351) !important;
}
}
@media screen and (max-width: 470px) {
  #stage_1 {
   transform: scale(0.34351) !important;

  }

}

@media screen and (max-width: 420px) {
   #stage_1 {
    transform: scale(0.27473) !important;

   }

}
@media screen and (max-width: 415px){
#stage_1 {
    transform: scale(0.29473) !important;
}
}
@media screen and (max-width: 376px) {
#stage_1 {
  transform: scale(0.56473) !important;
}
}

@media screen and (max-width: 361px) {
  #stage_1 {
      transform: scale(0.28473) !important;
  }
  }